
/*! Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1340px) {
	
		.site-inner,
		.wrap {
			max-width: 1140px;
		}
	
		.content-sidebar-sidebar .content-sidebar-wrap,
		.sidebar-content-sidebar .content-sidebar-wrap,
		.sidebar-sidebar-content .content-sidebar-wrap {
			width: 920px;
		}
	
		.content,
		.site-header .widget-area {
			width: 800px;
		}
	
		.sidebar-content-sidebar .content,
		.sidebar-sidebar-content .content,
		.content-sidebar-sidebar .content {
			width: 580px;
		}
	
		.sidebar-primary {
			width: 300px;
		}
	
		.footer-widgets-1,
		.footer-widgets-2,
		.footer-widgets-3 {
			width: 340px;
		}
	
		.footer-widgets-1 {
			margin-right: 60px;
		}
	
	}
	
	
	@media only screen and (max-width: 1200px) {
	
		.site-inner,
		.wrap {
			max-width: 960px;
		}
	
		.content-sidebar-sidebar .content-sidebar-wrap,
		.sidebar-content-sidebar .content-sidebar-wrap,
		.sidebar-sidebar-content .content-sidebar-wrap {
			width: 740px;
		}
	
		.content,
		.site-header .widget-area {
			width: 620px;
		}
	
		.sidebar-content-sidebar .content,
		.sidebar-sidebar-content .content,
		.content-sidebar-sidebar .content {
			width: 400px;
		}
	
		.footer-widgets-1,
		.footer-widgets-2,
		.footer-widgets-3 {
			width: 300px;
		}
	
		.footer-widgets-1 {
			margin-right: 30px;
		}
	
	}
	
	@media only screen and (max-width: 1023px) {
	
		.site-inner,
		.wrap {
			max-width: 800px;
		}
	
		.content,
		.content-sidebar-sidebar .content,
		.content-sidebar-sidebar .content-sidebar-wrap,
		.footer-widgets-1,
		.footer-widgets-2,
		.footer-widgets-3,
		.genesis-responsive-menu .genesis-nav-menu .sub-menu,
		.genesis-responsive-menu .genesis-nav-menu .sub-menu a,
		.sidebar-content-sidebar .content,
		.sidebar-content-sidebar .content-sidebar-wrap,
		.sidebar-primary,
		.sidebar-secondary,
		.sidebar-sidebar-content .content,
		.sidebar-sidebar-content .content-sidebar-wrap,
		.site-header .widget-area,
		.title-area {
			width: 100%;
		}
	
		.site-header .wrap {
			padding-left: 5%;
			padding-right: 5%;
		}
	
		.genesis-nav-menu li,
		.header-image .title-area,
		.site-header ul.genesis-nav-menu,
		.site-header .search-form {
			float: none;
		}
	
		.genesis-nav-menu,
		.site-description,
		.site-header .title-area,
		.site-header .widget-area,
		.site-title {
			text-align: center;
		}
	
		.site-header .search-form {
			margin: 16px auto;
		}
	
		/*! ### Genesis Responsive Menus */
	
		.genesis-responsive-menu .wrap {
			padding: 0;
		}
	
		.genesis-responsive-menu {
			display: none;
			position: relative;
		}
	
		.genesis-skip-link .skip-link-hidden {
			display: none;
			visibility: hidden;
		}
	
		.menu-toggle,
		.sub-menu-toggle {
			background-color: #fff;
			border-width: 0;
			color: #333;
			display: block;
			margin: 0 auto;
			overflow: hidden;
			text-align: center;
			visibility: visible;
		}
	
		.menu-toggle:focus,
		.menu-toggle:hover,
		.sub-menu-toggle:focus,
		.sub-menu-toggle:hover {
			background-color: #fff;
			border-width: 0;
			color: #c3251d;
		}
	
		.menu-toggle {
			line-height: 22px;
			position: relative;
			width: 100%;
			z-index: 1000;
		}
	
		.menu-toggle::before {
			font-size: 1.5em;
			margin-right: 10px;
			text-rendering: auto;
		}
	
		.sub-menu-toggle {
			float: right;
			padding: 13px 10px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 100;
		}
	
		.sub-menu .sub-menu-toggle {
			padding: 12px 10px;
		}
	
		.sub-menu-toggle::before {
			display: inline-block;
			text-rendering: auto;
			-webkit-transform: rotate( 0 );
			-ms-transform:     rotate( 0 );
			transform:         rotate( 0 );
			-webkit-transition: transform .25s ease-in-out;
			-ms-transition:     transform .25s ease-in-out;
			transition:         transform .25s ease-in-out;
		}
	
		.sub-menu-toggle.activated::before {
			-webkit-transform: rotate( 180deg );
			-ms-transform:     rotate( 180deg );
			transform:         rotate( 180deg );
		}
	
		.genesis-responsive-menu .genesis-nav-menu .menu-item {
			display: block;
			float: none;
			position: relative;
			text-align: left;
		}
	
		.genesis-responsive-menu .genesis-nav-menu .menu-item:focus,
		.genesis-responsive-menu .genesis-nav-menu .menu-item:hover {
			position: relative;
		}
	
		.genesis-responsive-menu .genesis-nav-menu .menu-item a {
			border: none;
			margin-bottom: 1px;
			padding: 15px 20px;
			width: 100%;
		}
	
		.genesis-responsive-menu .genesis-nav-menu .sub-menu {
			border: none;
		}
	
		.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
		.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
			left: 0;
			margin-left: 0;
		}
	
		.genesis-responsive-menu .genesis-nav-menu > .menu-item-has-children > a::after {
			content: none;
		}
	
		.genesis-responsive-menu .genesis-nav-menu .sub-menu {
			clear: both;
			display: none;
			margin: 0;
			opacity: 1;
			padding-left: 15px;
			position: static;
			width: 100%;
		}
	
		.genesis-responsive-menu .genesis-nav-menu .sub-menu .sub-menu {
			margin: 0;
		}
	
		.footer-widgets-1,
		.footer-widgets-2 {
			margin: 0 auto 40px;
		}
	
	}
	
	@media only screen and (max-width: 860px) {
	
		body,
		body > div {
			font-size: 18px;
			font-size: 1.8rem;
		}
	
		.site-inner {
			padding: 5% 5% 0;
		}
	
		.wrap {
			padding-left: 5%;
			padding-right: 5%;
		}
	
		.after-entry,
		.archive-description,
		.author-box,
		.comment-respond,
		.entry,
		.entry-comments,
		.entry-pings,
		.sidebar .widget {
			padding: 30px;
			margin-bottom: 5%;
		}
	
		.sidebar {
			margin-bottom: 5%;
		}
	
		.pagination {
			margin: 5% auto;
		}
	
		.archive-pagination li a {
			margin-bottom: 4px;
		}
	
		.five-sixths,
		.four-sixths,
		.one-fourth,
		.one-half,
		.one-sixth,
		.one-third,
		.three-fourths,
		.three-sixths,
		.two-fourths,
		.two-sixths,
		.two-thirds {
			margin: 0;
			width: 100%;
		}
	
	}
	